/* colors.scss */
$blue-1: #d4def8;
$blue-2: #c9d5f1;
$blue-3: #bfcceb;
$blue-4: #b4c3e4;
$blue-5: #a9badd;
$blue-6: #9eb1d6;
$blue-7: #94a8d0;
$blue-8: #899fc9;
$blue-9: #7e95c2;
$blue-10: #748cbc;
$blue-11: #6983b5;
$blue-12: #5e7aae;
$blue-13: #5371a7;
$blue-14: #4968a1;
$blue-15: #3e5f9a;
